.contact-form__block{
    width: 560px;
}

.contact-form__name{
    margin-bottom: 20px;
    text-indent: 10px;
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}

.contact-form__email{
    text-indent: 10px;
    height: 40px;
    background-color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}

.contact-form__message{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    text-indent: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 170px;
    resize: none;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.contact-form__send{
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
    border: none;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

