.fab, .far,.fas{

}

.contact-networks__item> i{
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}


.contact-networks__item {
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #ffffff;
}

.contact-networks__block{
    padding: 0;
    list-style-type: none;
}

.contact-icons__block > i{
    color: #ffffff;
    font-size: 32px;
    margin-right: 15px;
}