.product-info__list{
    list-style-type: none;
    padding: 0;
}

.product-info-list__icon{
    padding-right: 5px;
    color: #fff;
}

.product-info__title{
    margin: 0;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
}

.product-info-list__item{
 color: #ffffff;
    line-height: 36px;
}