.scrinshots-image{
    width: 200px;
    height: 150px;
    background-color: #445161;
    margin-right: 10px;
}

.scrinshots__title{
    margin-top: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.scrinshots-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.scrinshots-info-block{
    width: 360px;
}

.scrinshots-item-block{
    display: flex;
}