@import "font.css";

body {
    margin: 0;
    font-family: 'ArialMT', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
