.rewiews-image{
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    margin-right: 20px;
}

.rewiews-info-block{
    position: relative;
    border-radius: 7px;
    padding: 8px;
    background-color: #ebebeb;
    width: 470px;
}

.rewiews-item-block{
    display: flex;
    margin-bottom: 25px;
}

.rewiews-text{
    margin-bottom: 10px;
}

.rewiews-subtitle{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.rewiews-info-block::before{
    content: '';
    width: 10px;
    height: 10px;
}
