.about-info__text{
    width: 550px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-info__title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}