.contact-info-block{
    background-color: #445162;
}

.contact-info-wrap{
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-form-block{
    display: flex;
    justify-content: space-between;
}