.buy-card{
    background-color: #445162;
    border-radius: 10px;
    padding-bottom: 20px;
}

.buy-card-title{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.buy-price{
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    line-height: 70px;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border: 2px solid #445162;
}

.buy-list{
    padding: 0 10px;
}

ul{
    list-style-type: none;
}

.buy-button{
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 40px;
    background-color: #ffffff;
    border: 0;
    border-radius: 8px;
}

.buy-list-item{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}