.dignity-icon{
    width: 32px;
    height: 32px;
    background-color: #445161;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.dignity-icon-plus{
    font-size: 20px;
    color: #ffffff;
}

.dignity-item-text{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 530px;
}

.dignity-item-block{
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}