.dignity-info-wrap{
    padding-top: 50px;
    padding-bottom: 50px;
}

.dignity-info-block{
    background-color: #f5f5f5;
}

.dignity-plus-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}